--swiftversion 5.9
--disable blankLinesAroundMark
--disable extensionAccessControl
--disable preferKeyPath
--disable redundantClosure
--disable redundantReturn
--disable redundantSelf
--disable sortImports
--disable unusedArguments
--disable wrapMultilineStatementBraces
--disable conditionalAssignment
--disable hoistAwait
--wrapparameters after-first
--wrapcollections before-first
--typeattributes same-line
--funcattributes same-line
--varattributes same-line
--trimwhitespace nonblank-lines
--commas inline
--exclude **/Pods
--exclude **/DerivedData
--exclude **/vendor
--exclude fastlane/actions/implementations/ProjectFactory/**