--swiftversion 6.0

# enable optional rules
--enable singlePropertyPerLine
--enable wrapMultilineFunctionChains
--enable wrapConditionalBodies
--enable wrapEnumCases 
--enable wrapMultilineConditionalAssignment
--enable unusedPrivateDeclarations
--enable blankLinesAfterGuardStatements

# disable default rules
--disable blankLinesAroundMark
--disable extensionAccessControl
--disable preferKeyPath
--disable redundantClosure
--disable redundantReturn
--disable redundantSelf
--disable sortImports
--disable unusedArguments
--disable wrapMultilineStatementBraces
--disable conditionalAssignment
--disable hoistAwait
--disable preferForLoop

# options
--wrap-parameters before-first
--wrap-collections before-first
--wrap-enum-cases with-values
--func-attributes prev-line
--type-attributes prev-line
--stored-var-attributes same-line
--computed-var-attributes prev-line
--trimwhitespace nonblank-lines
--commas inline

# exclude paths
--exclude **/DerivedData
